<h1>Burger Time!</h1>

<h2>Hot N' Ready Burgers</h2>

<ul>
    {{#each burgers}}
        {{#unless eaten}}
            {{> burgers/burger-block eaten=false}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Eaten Burgers</h2>

<ul>
    {{#each burgers}}
        {{#if eaten}}
            {{> burgers/burger-block eaten=true}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

    <div class"form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="eatey">Eaten?</label><br>
        <input type="radio" name="eaten" value="1" checked> Eaten! <br>
        <input type="radio" name="eaten" value="0"> Not Eaten
    </div>

    <button type="submit">Add Burger</button>
</form>